In [1]:
import pandas as pd

In [9]:
data = pd.Series([1,31,4,80], index = ['a', 'b', 'c', 'd'])
print(data)
print(data[3])
print(data['b'])
print(data[data>30])

a     1
b    31
c     4
d    80
dtype: int64
80
31
b    31
d    80
dtype: int64

In [13]:
print(data+10*data)
import numpy as np
np.sin(np.pi*data/2)

a     11
b    341
c     44
d    880
dtype: int64

a    1.000000e+00
b   -1.000000e+00
c   -2.449294e-16
d   -4.898587e-15
dtype: float64

In [21]:
31 in data.values
data[1]=10
data[0:2]

a     1
b    10
dtype: int64

In [39]:
dic = {'ohio':35000, 'texas':500, 'oregon':35000, 'utah':5000}
data2 = pd.Series(dic)
data2[data2.notnull()]

ohio      35000
texas       500
oregon    35000
utah       5000
dtype: int64

In [40]:
print(np.nan)

nan

In [46]:
data2.name = "Poblacion"
data2.index.name="Estado"
print(data2)

Estado
ohio      35000
texas       500
oregon    35000
utah       5000
Name: Poblacion, dtype: int64

In [71]:
data3=pd.DataFrame(np.arange(16).reshape((4,4)),index=['red','blue','yellow','white'],columns=['ball','pen','pencil','paper'])
#print(type(data3['paper']))
#print(type(data3[['paper']]))
print(data3)
print("\n")
print(data3.iloc[3])

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15


ball      12
pen       13
pencil    14
paper     15
Name: white, dtype: int64

In [72]:
covid = pd.read_csv('COVID19.csv')

/var/folders/pb/ldktvl7n1cjb78yx2vbmbmdr0000gn/T/ipykernel_10632/950318403.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  covid = pd.read_csv('COVID19.csv')

In [76]:
covid.describe()

,ID de caso,Código DIVIPOLA departamento,Código DIVIPOLA municipio,Edad,Unidad de medida de edad,Código ISO del país,Pertenencia étnica
count,5.003977e+06,5.003977e+06,5.003977e+06,5.003977e+06,5.003977e+06,3140.000000,4.997444e+06
mean,2.502029e+06,1.327586e+03,2.827735e+04,3.950413e+01,1.003588e+00,594.338854,5.905555e+00
std,1.444524e+06,5.942108e+03,2.610482e+04,1.795638e+01,6.500582e-02,287.720892,6.089527e-01
min,1.000000e+00,5.000000e+00,5.001000e+03,1.000000e+00,1.000000e+00,4.000000,1.000000e+00
25%,1.251035e+06,1.100000e+01,1.100100e+04,2.600000e+01,1.000000e+00,380.000000,6.000000e+00
50%,2.502029e+06,1.700000e+01,1.100100e+04,3.700000e+01,1.000000e+00,724.000000,6.000000e+00
75%,3.753023e+06,6.800000e+01,5.000600e+04,5.200000e+01,1.000000e+00,840.000000,6.000000e+00
max,5.004017e+06,4.700100e+04,9.977300e+04,1.160000e+02,3.000000e+00,1724.000000,6.000000e+00

In [82]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, red to white
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ball    4 non-null      int64
 1   pen     4 non-null      int64
 2   pencil  4 non-null      int64
 3   paper   4 non-null      int64
dtypes: int64(4)
memory usage: 160.0+ bytes